.my-main{
  overflow-x: hidden;
  .tran1{
    transition:all 100ms;
  }
  .tran2{
    transition:all 150ms;
  }
  .tran3{
    transition:all 200ms;
  }
  .tran4{
    transition:all 250ms;
  }
  .tran5{
    transition:all 300ms;
  }
  .tran6{
    transition:all 350ms;
  }
  .tran7{
    transition:all 400ms;
  }
  .tran8{
    transition:all 450ms;
  }
  &.show{
    .bar-list{
      .item{
        opacity: 1 !important;
        transform: translateX(0) !important;
      }
    }
  }
  .head{
    height: 2.3rem;
    background-color: #fff;
    &>a{
      align-items: center;
    }
    .picture{
      .pic-box{
        width: 1.3rem;
        height: 1.3rem;
        margin:0 .4rem 0 .46rem;
        border-radius: .1rem;
        overflow:hidden;
        background-color: #aaaaaa;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .info{
      overflow: hidden;
      &>div{
        max-width: 100%;
      }
      .name{
        font-size: .36rem;
        font-weight: bold;
        color: #222328;
      }
      .phone{
        margin-top: .34rem;
        font-size: .32rem;;
        color: #89888e;
      }
    }
    .arrow{
      padding: 0 .28rem;
      img{
        width: .14rem;
        height: auto;
      }
    }
  }
  .bar-list{
    padding: .28rem 0;
    .big-title{
      background-color: #fff;
      position: relative;
      padding: .3rem;
      font-size: .36rem;
      border-bottom: solid 1px #f0f0f0;
    }
    .item{
      padding: .3rem 0;
      align-items: center;
      background-color: #fff;
      position: relative;
      &.hide{
        opacity: 0;
        transform: translateX(30px);
      }

      .icon{
        padding: 0 .3rem;
        width: .38rem;
        height: auto;
        box-sizing: initial;
      }
      .title{
        flex:none;
        font-size: .36rem;;
        letter-spacing: 1px;
      }
      .info{
        flex: auto;
        font-size: .32rem;
        color: #89888e;
        text-align: right;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
        margin-left: 2px;
      }
      .arrow{
        padding: 0 .28rem;
        img{
          width: .14rem;
          height: auto;
        }
      }
      .line{
        position: absolute;
        bottom: 0;
        height: 1px;
        width: 94%;
        left: 3%;
        background-color: #f7f7f7;
      }
    }
  }
  .mt{
    margin-top: .28rem;
  }
  .mr{
    margin-right: .28rem;
  }
  .am-list-line-multiple{
    padding-left: 0 !important;
    .am-list-content{
      color: rgba(0,0,0,.65) !important;
    }
  }
}