.page-buy-success{
  .card-box{
    padding: .3rem;
    background-color: #fff;
    margin-bottom: .2rem;
    text-align: center;
    img{
      height: .68rem;
    }
    .info{
      color: #222328;
      font-size: .32rem;
      font-weight:bold;
      margin-top: .3rem;
    }
  }
  .long.am-list-item .am-list-line .am-list-extra{
    flex-basis: auto;
  }
  .order-info{
    font-size: .32rem;
    color: #89888e;
    padding: .2rem;
    &>div{
      line-height: .6rem;
    }
  }
}