.boss{
  background-color: #f7f7f7;
  background-image: url(../../assets/loading.gif);
  background-position: center 5%;
  background-repeat: no-repeat;
  min-height: 100vh;
  &.hide{
    opacity: 0;
  }
  &>div{
    background-color: #f7f7f7;
  }
  .am-list-item .am-list-line{
    padding-left: 15px;
  }
  .am-list-item .am-list-line .am-list-content{
    font-size: .36rem;
  }
  .am-list-item .am-list-line .am-list-extra{
    font-size: .36rem;
    flex-basis: auto;
  }
  .am-list-item{
    padding-left: 0 !important;
  }
  .am-list-item .am-list-line-multiple{
    padding: 12.5px 15px;
  }
  .am-list-item .am-list-thumb:first-child{
    margin-left: 15px;
  }
}