.stepper-luo{
  display: flex;
  height: 36px;
  align-items: center;
  .stepper-btn{
    position: relative;
    flex: none;
    width: 30px;
    height: 30px;
    text-align: center;
    border: solid 1px #ccc;
    border-radius: 30px;
    &:active{
      background-color: #ccc;
    }
    .line-1{
      position: absolute;
      top: 50%;
      left: 50%;
      width: 50%;
      height: 1px;
      background-color: #888;
      transform: translate(-50%, -50%);
    }
    .line-2{
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1px;
      height: 50%;
      background-color: #888;
      transform: translate(-50%, -50%);
    }
  }
  .stepper-value{
    min-width: 30px;
    padding: 0 10px;
    text-align: center;
    flex: auto;
    font-size: 18px;
    color: #222;
  }
}