.page-customer{
  height: calc(100vh - 45px);
  .tabs-div{
    height: 100%;
    .f-info{
      box-sizing: border-box;
      margin: .3rem;
      background-color: #eaeaea;
      border-radius: .1rem;
      padding: .3rem;
      display: flex;
      align-items: center;
      .icon1{
        width: .7rem;
        height: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: none;
        img{
          width: .4rem;
          height: auto;
        }
      }
      .info{
        margin-left: .3rem;
        color: #999ca0;
        font-size: .24rem;
      }
    }
  }
  .tabs-bars-div{
    text-align: center;
    &>div+div{
      padding-top: 8px;
    }
  }
  .footer-btn{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45px;
    background-color: #999C9F;
    color: #fff;
    text-align: center;
    line-height: 45px;
    font-size: 16px;
    img{
      position: absolute;
      top: 50%;
      right: 12px;
      transform:  translateY(-50%);
      height: 14px;
    }
    &:active{
      background-color: #B7BFC1;
    }
  }
  .footer-zw{
    height: 45px;
    width: 100%;
  }
  .am-tabs-default-bar-tab{
    height: 56px;
  }

  .nothing{
    padding: .2rem;
    text-align: center;
    color: #aaa;
    font-size: .28rem;
    background-color: transparent !important;
  }
}
.que-modal-info{
  width: 100%;
  padding: .2rem;
  font-size: .36rem;
  color: #333;
  img{
    height: .65rem;
    width: auto;
    margin-right: .2rem;
  }
}