.page-binding{
  background-size: 100% auto;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-color: #fff;
  min-height: 100vh;
  .head{
    height: .88rem;
    line-height: .88rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .btn{
      flex: none;
      padding: 0 .3rem;
      text-align: center;
      a{
        color: #4285f4;
      }
    }
  }
  .login-box{
    padding-top: 1.02rem;
    .logo{
      width: .9rem;
      height: auto;
      display: block;
      margin: 0 auto .3rem auto;
    }
    .logo-info{
      margin: .3rem .2rem 0 .2rem;
      font-size: .31rem;
      text-align: center;
      color: #25292e;
      line-height: .4rem;
    }
    .input-box{
      width: 6.6rem;
      margin: 1rem auto 0 auto;
      padding: 0 .3rem;
      box-sizing: border-box;
      .btn{
        display: inline !important;
        padding: 0 .2rem;
        font-size: .32rem;;
        color: #0D62F0;
        margin: 0 auto;
        border: none;
        letter-spacing: 1px;
        &:active{
          color: #4285f4;
        }
      }
      .this-list{
        .am-list-body{
          border-top: none;
          &:before{
            background-color: transparent;
          }
          .am-list-item{
            .am-input-label.am-input-label-5{
              width: 50px;
              font-size: 15px;
            }
            .am-input-control input{
              font-size: 15px;
            }
          }
        }
      }
    }
    .input-box2{
      width: 6.6rem;
      height: .88rem;
      line-height: .88rem;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      .btn{
        color: #222328;
      }
    }
    .line{
      width: 1px;
      height: 70%;
      background-color: #474b54;
      margin: 0 .2rem;
      align-self:center;
      flex: none;
    }
    .line2{
      width: 1px;
      height: 80%;
      background-color: transparent;
      margin-left: .2rem;
      align-self:center;
      flex: none;
    }
  }
  .this-btn{
    display: block;
    width: 5.2rem;
    height: .88rem;
    line-height: .88rem;
    border-radius: .44rem;
    background-color: #307AF4;
    color: #fff;
    font-size: .32rem;
    margin: 1rem auto 0 auto;
    border: none;
    letter-spacing: 1px;
  }
  .other-login{
    text-align: center;
    justify-content: flex-end;
    .box{
      padding: .2rem 0 .6rem 0;
    }
    .title{
      font-size: .28rem;;
      color: #89888e;
      margin-bottom: .3rem;
    }
    .ul{
      li{
        img{
          width: .98rem;
          height: auto;
          margin-bottom: .2rem;
        }
        .t{
          font-size: .32rem;;
        }
      }
    }

  }
}