.page-share-ticket{
  background-color: #040B1E !important;
  background-image: url(../../assets/share/beijing.png);
  background-size: cover;
  background-position: top left;
  background-attachment: fixed;
  min-height: 100vh !important;
  .title-box{
    padding: .3rem;
    position: relative;
    text-align: center;
    img{
      width: 1.5rem;
    }
  }
  .body-box{
    padding: 0 .2rem .2rem .2rem;
    margin-top: .6rem;
    .img-box{
      position: relative;
      z-index: 1;
      height: auto;
      min-height: 30vh;
      width: 90%;
      margin:0 auto;

      background-color: #fff;
      padding: .2rem;
      border-radius: .08rem;
      .head-box{
        position: relative;
        margin-top: -.8rem;
        z-index: 2;
        .pic{
          position: relative;
          width: 1.2rem;
          height: 1.2rem;
          overflow: hidden;
          background-color: #fff;
          border-radius: 1.2rem;
          margin: 0 auto;
          border: solid 1px #fff;
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .name{
          font-size: .36rem;
          color: #222;
          text-align: center;
          z-index: 2;
          margin-top: .05rem;
        }
        .name-info{
          font-size: .3rem;
          color: #222;
          text-align: center;
          z-index: 2;
          margin-top: .05rem;
          letter-spacing: 1px;
        }
      }
      .cardbox{
        padding: .2rem;
        box-sizing: border-box;
        background-image: url(../../assets/kapian@3x.png);
        background-size: 100% 100%;
        border-radius: 8px;
        width: 100%;
        height: 2.8rem;
        color: #fff;
        margin-top: .5rem;
        .row1{
          .t{
            font-size: .32rem;
          }
          .i{
            font-size: .24rem;
            color: #9394a4;
            margin-top: .2rem;
          }
          img{
            width: .14rem;
          }
        }
        .row2{
          .t{
            font-size: .32rem;
            span{
              margin-left: .45rem;
            }
          }
        }
        .i{
          font-size: .24rem;
          color: #fefefe;
          margin-top: .2rem;
        }
      }
      .code{
        position: absolute;
        bottom: .3rem;
        right: .2rem;
        width: 2.2rem;
        height: 2.2rem;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .info-box{
        padding: .4rem .2rem;
        font-size: .28rem;
        color: #999ca0;
        &>div+div{
          margin-top: .1rem;
        }
      }
    }
    .code-box{
      margin-top: .2rem;
      .t{
        font-size: .3rem;
        color: #fff;
        text-align: center;
        letter-spacing: 1px;
      }
      .codes{
        margin-top: .2rem;
        &>div{
          position: relative;
          flex:none;
          width:2.2rem;
          height: 2.2rem;
          margin: 0 .3rem;
          img{
            width: 100%;
            height: 100%;
          }
          .head{
            position: absolute;
            top: 50%;
            left: 50%;
            width: .5rem;
            height: .5rem;
            margin-top: -.25rem;
            margin-left: -.25rem;
            border-radius:3px;
          }
        }
      }
    }
  }
}