.userinfo-main{
  .bar-list{
    padding: 0 0 .28rem 0;
    .item{
      height:.98rem;
      align-items: center;
      background-color: #fff;
      position: relative;
      &>a{
        align-items: center;
        height: 100%;
        color: #222;
      }
      .icon{
        padding: 0 .3rem;
        img{
          width: auto;
          height: .32rem;
        }
      }
      .title{
        flex:auto;
        font-size: .32rem;;
        letter-spacing: 1px;
        padding-left: .28rem;
      }
      .info{
        flex: auto;
        font-size: .32rem;;
        color: #89888e;
        text-align: right;
      }
      .arrow{
        padding: 0 .28rem;
        img{
          width: .14rem;
          height: auto;
        }
      }
      .photo{
        padding: 0 .28rem;
        img{
          height: .6rem;
          width: .6rem;
          object-fit: cover;
          border-radius: .6rem;
        }
      }
      .line{
        position: absolute;
        bottom: 0;
        height: 1px;
        width: 94%;
        left: 3%;
        background-color: #f7f7f7;
      }
      &.mt{
        margin-top: .28rem;
      }
    }
  }
}