.home-page{
  .my-carousel{
    background-color: #f0f0f0;
    img{
      object-fit: cover;
      height: calc(100vw * 0.43);
    }
  }
  .link-bar{
    background-color: #fff;
    justify-content: center;
    &>div{
      flex: 1;
      padding: .3rem 0;
      text-align: center;
      img{
        display: block;
        width: 1.2rem;
        height: 1.2rem;
        margin: 0 auto .2rem auto;
      }
      &:active{
        background-color: #f0f0f0;
      }
    }
  }
  .active-bar{
    position: relative;
    box-sizing: border-box;
    width: 94%;
    margin:0 auto;
    height: 0;
    padding-top: 25%;
    background-image: url(../../assets/home/banner_one.png);
    background-size: cover;
    background-position: top center;
    border-radius: 3px;
    &>div{
      position: absolute;
      bottom: 12%;
      left: 50%;
      transform: translateX(-50%);
      color: #fff;
      font-size: .26rem;
      span{
        color: #fff200;
        padding: 0 4px;
      }
    }
  }
  .home-bar{
    position: sticky;
    background-color: #fff;
    top: 0;
    padding: 10px 0;
    height: 50px;
    font-size: .32rem;
    max-height: 150px;
    box-sizing: border-box;
    z-index: 99;
    &>div{
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      &:active{
        background-color: #f0f0f0;
      }
      &+div{
        border-left: solid 1px #f0f0f0;
      }
    }
  }
  .the-list{
    &+.the-list{
      margin-top: .2rem;
    }
    .title{
      height: .88rem;
      line-height: .88rem;
      font-size: .32rem;
      padding:0 10px;
      border-top: solid 1px #f7f7f7;
      background-color: #fff;
      justify-content: center;
      align-items: center;
      span{
        padding:0 .2rem;
      }
      .line{
        width: .7rem;
      }
    }
    .list{
      border-top: solid 1px #f7f7f7;
      border-bottom: solid 1px #f7f7f7;
      &>li{
        background-color: #fff;
        padding: 0 10px;
        &+li{
          &>a{
            border-top: solid 1px #f0f0f0;
          }
        }
        &>a{
          color: #222;
          display: flex;
          padding:10px 0;
          box-sizing: initial;
          .pic{
            width: 2.12rem;
            height: 100%;
            max-width: 200px;
            background-color: #f0f0f0;
            border-radius: 4px;
            img{
              width: 100%;
              height: 100%;
              display: block;
              object-fit: cover;
              border-radius: 4px;
              box-sizing: initial !important;
            }
            .default{
              height: 40px;
              width: 40px;
              object-fit: fill;
              opacity: .3;
            }
          }
          .detail{
            margin-left: 10px;
            overflow: hidden;
            .t{
              font-size: .32rem;;
            }
            .i{
              font-size: .28rem;;
              color: #888;
              .all_nowarp2{
                line-height: .31rem;
              }
            }
            .k{
              display: flex;
              justify-content: space-between;
              align-items: baseline;
              .a{
                font-size: .24rem;
                color: #888;
              }
              .b{
                font-size: .24rem;
                color: #fc4800;
                i{
                  font-size: .46rem;
                  font-style: normal;
                }
              }
            }
          }
        }
      }
    }
  }
}