.home-page{
  .my-carousel{
    img{
      object-fit: cover;
    }
  }
  .home-bar{
    padding: 10px 0;
    height: 1.875rem;
    max-height: 150px;
    box-sizing: border-box;
    justify-content: space-around;
    &>div{
      margin-right: 10px;
      max-width: 150px;
      width: 25%;
      height: 100%;
      &:first-child{
        margin-left: 10px;
      }
      a{
        display: flex;
        box-sizing: border-box;
        padding: 5px;
        height: 100%;
        border: solid 1px #e0e0e0;
        text-align: center;
        font-size: .2rem;
        color: #222328;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
      }
    }
  }
  .the-list{
    margin-top: .2rem;
    .title{
      height: .88rem;
      line-height: .88rem;
      font-size: .32rem;
      padding:5px 10px;
      border-top: solid 1px #f7f7f7;
      background-color: #fff;
      a{
        display: block;
        height: 100%;
        color: #222;
        span{
          vertical-align: middle;
        }
        svg{
          float: right;
        }
      }
    }
    .list{
      border-top: solid 1px #f7f7f7;
      border-bottom: solid 1px #f7f7f7;
      &>li{
        background-color: #fff;
        &>a{
          color: #222;
          display: flex;
          height: 1.48rem;
          max-height: 225px;
          padding:10px;
          .pic{
            width: 2.12rem;
            height: 100%;
            max-width: 200px;
            img{
              width: 100%;
              height: 100%;
              display: block;
              object-fit: cover;
              border-radius: 4px;
            }
          }
          .detail{
            margin-left: 10px;
            overflow: hidden;
            .t{
              font-size: .28rem;
            }
            .i{
              font-size: .24rem;
              color: #888;
              margin-top: .2rem;
              .all_nowarp2{
                height: .6rem;
                line-height: .31rem;
              }
            }
            .k{
              span{
                font-size: .22rem;
                color: #fc4800;
                i{
                  font-style: normal;
                  font-size: .36rem;
                }
              }
            }
          }
        }
      }
    }
  }
}