.profit-main{
  .head-chose{
    padding: 15px;
    background-color: #fff;
    font-size: .36rem;
    .date-chose{
      display: flex;
      width: 50%;
      color: #000;
      align-items: center;
      &>span{
        display: inline-block;
        width: 50%;
        min-width: 1.8rem;
        margin-right: 4px;
      }
      img{
        transform: rotate(90deg);
        height: 12px;
        margin-left: 4px;
      }
    }
  }
  .list-box{
    position: relative;
    width: 100%;
    height: calc(100vh - 54px);
  }
}