.profit-main{
  .head-chose{
    padding: 15px;
    background-color: #fff;
    font-size: 16px;
    .date-chose{
      img{
        transform: rotate(90deg);
        height: 12px;
        margin-left: 4px;
      }
    }
  }
}