.healthy-main{
  overflow-x: hidden;
  .tran1{
    transition:all 100ms;
  }
  .tran2{
    transition:all 150ms;
  }
  .tran3{
    transition:all 200ms;
  }
  .tran4{
    transition:all 250ms;
  }
  .tran5{
    transition:all 300ms;
  }
  &.show{
    .bar-list{
      .item.hide{
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
  .bar-list{
    .bar-title{
      padding: .28rem;
      font-size: .32rem;
      color: #aaa;
    }
    .item{
      padding: .3rem 0;
      align-items: center;
      background-color: #fff;
      position: relative;
      &.hide{
        opacity: 0;
        transform: translateX(50px);
      }
      .icon{
        padding: 0 .3rem;
        width: .38rem;
        height: auto;
        box-sizing: initial;
      }
      .title{
        flex:auto;
        font-size: .36rem;;
        letter-spacing: 1px;
        .i{
          font-size: .28rem;;
          color: #89888e;
        }
      }
      .info{
        flex: auto;
        font-size: .32rem;;
        color: #89888e;
        text-align: right;
      }
      .arrow{
        padding: 0 .28rem;
        img{
          width: .14rem;
          height: auto;
        }
      }
      .line{
        position: absolute;
        bottom: 0;
        height: 1px;
        width: 94%;
        left: 3%;
        background-color: #f7f7f7;
      }
      &.mt{
        margin-top: .28rem;
      }
    }
  }
}