.gooddetail-page{
  .my-carousel{
    height: 200px !important;
    overflow: hidden;
    img{
      height: 200px !important;
      width: 100%;
      object-fit: cover;
    }
  }
  .goodinfo{
    padding: .26rem;
    .title{
      font-size: .35rem;
    }
    .info{
      position: relative;
      margin-top: .2rem;
      font-size: .3rem;
      line-height: .4rem;
      .cost{
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: .35rem;
        font-weight: 600;
      }
    }
    .server{
      font-size: .28rem;
      color: #888;
      margin-top: .2rem;
      justify-content: space-between;
    }
  }
  .detail-box{
    width: 100%;
    img{
      width: 100%;
      height: auto;
    }
    padding-bottom: .4rem;
  }
  .play{
    position: fixed;
    bottom:0;
    left:0;
    height: 47px;
    width: 100%;
    a{
      width: 100%;
      height: 100%;
      border-radius: 0;
    }
  }
}