.confirm-pay{
  .thefooter{
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 46px;
    line-height: 46px;
    border-top: solid 1px #e0e0e0;
    background-color: #fff;
    z-index: 10;
    .submit-btn{
      padding: 0 .4rem;
      border-left: solid 1px #e0e0e0;
      background-color: #4285f4;
      color: #fff;
    }
  }
  .am-list-item img{
    width: auto;
    height: auto;
    max-height: 60px;
    border-radius: 4px;
  }
}