.confirm-pay{
  .thefooter{
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 46px;
    line-height: 46px;
    border-top: solid 1px #e0e0e0;
    background-color: #fff;
    z-index: 10;
    .submit-btn{
      padding: 0 .4rem;
      border-left: solid 1px #e0e0e0;
      background-color: #4285f4;
      color: #fff;
    }
  }
  .normal-item.am-list-item {
    .am-list-thumb {
      margin: 0 0 0 15px;
    }
    .am-list-brief{
      font-size: .32rem;
    }
    img {
      width: 12px;
      height: auto;
    }
  }
  .this-item.am-list-item img{
    width: auto;
    height: auto;
    max-height: 60px;
    border-radius: 4px;
  }
}