.page-tixian{

  .tixian-info{
    padding: 0 15px 15px 15px;
    font-size: .32rem;
    background-color: #fff;
    span{
      color: #40a9ff;
    }
  }
  .info{
    padding: 15px;
    color: #aaa;
    font-size: .32rem;
    line-height: .6rem;
    letter-spacing: 1px;
    text-align: justify;
  }
  .submit-box{
    padding: .2rem 0;
    .submit-btn{
      display: block;
      width: 5.2rem;
      height: .88rem;
      line-height: .88rem;
      border-radius: .44rem;
      color: #fff;
      font-size: .32rem;
      border: none;
      letter-spacing: 1px;
      margin: 0 auto;
    }
  }
  .mt{
    margin-top: .2rem;
  }
  .am-list-body{
    &:before{
      display: none !important;
    }
    &::after{
      display: none !important;
    }
  }
  .my-list{
    box-sizing: border-box;
    padding: 7px 15px;
    min-height: 45px;
    display: flex;
    font-size: .36rem;
    align-items: center;
    color: #000;
    background-color: #fff;
    .l{

    }
    .r{
      color: #338CF8;
      text-align: right;
      &.money{
        font-size: .5rem;
      }
    }
  }
}