.page-tixiandetail{
  .step-box{
    display: flex;
    align-items: center;
    background-color: #fff;
    box-sizing: border-box;
    padding: .5rem 15vw 1.2rem 15vw;
    margin-bottom: .2rem;
    .step-icon{
      width: .44rem;
      height: .44rem;
    }
    .step{
      position: relative;
      flex: none;
      width: .44rem;
      .info{
        position :absolute;
        width: 30vw;
        top: .64rem;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        &>div:first-child{
          font-size: .32rem;
        }
        &>div:last-child{
          margin-top: .1rem;
          font-size: .24rem;
          color: #888;
        }
      }
    }
    .line1{
      height: 2px;
      flex: auto;
      background-color: #888888;
    }
    .line2{
      height: 2px;
      flex: auto;
      background-color: #53a1ff;
    }
  }

  .info-box{
    padding: .2rem;
    background-color: #fff;
    margin-top: .2rem;
    &>div{
      padding: .1rem 0;
      &>div{
        &:first-child{
          color: #aaa;
        }
        &:last-child{
          color: #25292e;
        }
      }
    }
  }
  .mt{
    margin-top: .2rem;
  }
  .am-list-body{
    &:before{
      display: none !important;
    }
    &::after{
      display: none !important;
    }
  }
}