.page-expr-shop{
  .card-box{
    padding: .2rem;
    background-color: #fff;
    &+.card-box{
      margin-top: .2rem;
    }
    .l{
      .title{
        color: #222328;
        font-size: .32rem;
        letter-spacing: 1px;
      }
      .info{
        margin-top: .2rem;
        font-size: .32rem;;
        color: #89888e;
        img{
          width: .28rem;
          margin-right: .2rem;
        }
      }
    }
    .r{
      .addr{
        text-align: center;
        color: #4788f5;
        font-size: .28rem;;
        letter-spacing: 1px;
        img{
          height: .8rem;
          margin-bottom: .1rem;
        }
      }
    }
  }
}