.page-box{
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - .98rem);
}

.page-flex-row{
  display: flex;
  flex-direction: row;
}
.page-flex-col{
  display: flex;
  flex-direction: column;
}
.flex-auto{
  flex: auto;
}
.flex-none{
  flex: none;
}