.page-box{
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - .98rem);
}

.page-flex-row{
  display: flex;
  flex-direction: row;
}
.page-flex-col{
  display: flex;
  flex-direction: column;
}
.flex-auto{
  flex: auto;
}
.flex-none{
  flex: none;
}

/* 自定义的antd-mobile modal footer */
.all_modal{
  width: 80% !important;
  max-width: 520px;
  .am-modal-body{
    padding: 0 !important;
  }
  .modal-footer{
    border-top: solid 1px #f7f7f7;
    height: .88rem;
    line-height: .88rem;
    display: flex;
    &>div{
      flex: auto;
      text-align: center;
      color: #4285f4;
    }
  }
}
