.page-details{
  .info-box{
    padding: .2rem;
    background-color: #fff;
    margin-top: .2rem;
    &>div{
      padding: .1rem 0;
      &>div{
        &:first-child{
          color: #aaa;
        }
        &:last-child{
          color: #25292e;
        }
      }
    }
  }
}