.page-details{
  .info-box{
    padding: .2rem;
    background-color: #fff;
    &>div{
      padding: .1rem 0;
      &>div{
        &:first-child{
          color: #aaa;
        }
        &:last-child{
          color: #25292e;
        }
      }
    }
  }
  .who{
    color: #f00;
    .am-list-thumb img{
      width: .82rem;
      height: .82rem;
      border-radius: .82rem;
      object-fit: cover;
    }
  }
  .mt{
    margin-top: .2rem;
  }
  .am-list-body{
    &::before{
      display: none !important;
    }
    &::after{
      display: none !important;
    }
    .am-list-line{
      &::before{
        display: none !important;
      }
      &::after{
        display: none !important;
      }
    }
  }
}